:root {
  --bg-color: #222222;
  --hi-bg-color: #1a1a1a;
  --menu-bg-color: #111;
  --hi-text-color: #fff;
  --mid-text-color: gray;
}

h2{
  font: 14px Arial, sans-serif;
  color: var(--hi-text-color);
  padding: 10px;
  text-align: center;
}

.menuIcon {
  display: inline-block;
  color: var(--mid-text-color);
  cursor: pointer;
  float: right;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.menuIcon:hover{
  color: var(--hi-text-color);
}

.menuItemIcon {
  display: inline-block;
  float: right;
  color: var(--mid-text-color);
  cursor: pointer;
  height: 10px;
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
}

.menuItemIcon:hover{
  color: var(--hi-text-color);
}

.run {
  display: inline-block;
  float: left;
  color: var(--mid-text-color);
  cursor: pointer;
  height: 10px;
  font-size: 12px;
  line-height: 20px;
}

.run:hover {
  color: var(--hi-text-color);
}

body {
  overflow: hidden;
}

body > div {
  background-color: var(--bg-color);
  position: absolute;
  left: 0;
  width: 100%;
}

#header {
  top: 0;
  height: 40px;
  border-bottom: black solid 2px;
  color: var(--hi-text-color);
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

#content {
  top: 42px;
  height: calc(100vh - 64px);
  border-bottom: black solid 2px;
}

.bottomBar {
  position: absolute;
  top: calc(100vh - 20px);
  height: 20px;
}

#themeSelector {
  float: right;
  margin-right: 10px;
  vertical-align: center;
  line-height: 20px;
  height: 20px;
  font-size: 20px;
}

#themeSelector > div{
  display: inline-block;
  position: relative;
  top: 0;
  height: 10px;
  width: 20px;
  border: 1px solid black;
  cursor: pointer;
}

#darkTM {
  background-color: black;
}

#lightTM {
  background-color: lightgray;
}

#sodaTM {
  background-color: #222c28;
}

#translucentTM{
  background-color: blue;
}

#fileListDiv {
  height: 80vh;
  width: 100%;
  overflow-y: auto;
}

#fileListDiv li{
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: var(--mid-text-color);
  background: var(--hi-bg-color);
  font: 12px Arial, sans-serif;
  overflow: hidden;
}

#fileListDiv li:hover{
  background: var(--menu-bg-color);
  color: var(--hi-text-color);
}

.simFrame {
  width: 100%;
  height: 100%;
}
